@import "tailwindcss";

.active{
  background-color : rgb(219, 181, 187);
  color: white; 
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}